
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

html, body {
  height: 100%;
  font-family: "Questrial", sans-serif;
  color: #576475;
}

body {
  padding-top: 70px;
  padding-right: 0;
}

.navbar {
  padding: .7rem;
  background-color: #ffff;
  font-family: "Questrial", sans-serif;
  border-bottom: 3px solid #31ad98 !important;
  
}

.navbar-fixed-top {
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  width: 100%;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
  color: #576475 !important;
}
.nav-link:hover {
  color: #31ad98 !important;

}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
}

h3 {
  font-family: "Mathletebulky";
  text-align: right;
  color: #576475;
  padding-bottom: 5px;
}

.btn-outline-light,
.btn-outline-light:active,
.btn-outline-light:visited {
  background-color: #ffff;
  border-color: #ffff;
  color: #31ad98;
}

.btn-outline-light:hover {
  color: #039179;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #31ad98;
  border-color: #31ad98;
}

.btn-primary:hover {
  background-color: #039179;
  border-color: #039179;
}



.padding {
  padding-bottom: 2rem;
}


.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.jumbotron {
  page-break-after: 0;
  background: #ffff url(../img/backgroundgiftboxes.png); 
  width: 100% !important;
  height: 70% !important;
  background-size: cover;
  overflow: hidden;
  color: #ffff;
}

.fa-code {
  color: #e54d26;

}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
}
.fa-facebook {
  color: #ffff;

}

.fa-instagram {
  color: #ffff;
}
.fa-pinterest {
  color: #ffff;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-pinterest:hover {
  color: #b4b4b4;
}
footer {
  background-color: #31ad98;
  color: white;
}
hr.light {
  border-top: 1px solid #31ad98;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: .8rem;
}
footer a{
  color: white;
}


h1 {
  padding-top: 50px;
  font-family: "Mathletebulky";
  color: #576475;
}

h2 {
  padding-top: 50px;
  font-family: "Mathletebulky";
  color: #576475;
}

.jumbotron-fluid {
  page-break-after: 0;
  width: 100% !important;
  height: 50% !important;
  background-size: cover;
  background-color: #31ad98;
  overflow: hidden;
  color: #ffff;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }

  }
@media (max-width: 768px) {
 
  
} 


@media (max-width: 576px) {

  .carousel-indicators {
    display: none !important;
  }
.display-4 {
  font-size: 160%;
}
.social a {
  font-size: 2em;
  padding: .7rem;
}
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

  


/* cart  */
.cart {
  border-radius: 10px;
  position: relative;
  min-height: 20rem;
  transition: all 0.3s ease-in-out;
  background:#31ad98;
  width: 0;
  overflow: hidden;
}
.show-cart {
  overflow-y: auto !important;
  background-color:rgb(49, 173, 152, 0.85);
  padding: 50px 50px 50px 50px;
  width: 40%;
  min-width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  height: 60%;
}

.myModal{
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1 !important;
  top: 0;
  height: 0%;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.show-modal {
  position: fixed;
  z-index: 1 !important;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item {
  transition: all 2s ease-in-out;
}

.cart-info__icon {
  color: #576475;
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid #576475;
  color: #576475;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: #31ad98;
  border-color: #31ad98;
  color: white;
}
.cart-info:hover .cart-info__icon {
  color: white;
}

/* cart item */
.cart-item-remove {
  color: white;
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: Black;
}
#cart-item-price {
  font-size: 0.8rem;
  font-size: 90%;
}
/* cart item */
/* cart buttons */
.btn-pink {
  color: black !important;
  border-color: white !important;
  margin: auto;
  font-size: 125%;
}
.btn-black {
  color: Black !important;
  border-color: white !important;
  margin: auto;
  font-size: 125%;
}

.btn-black:hover {
  color: #31ad98 !important;
  background: Black !important;
}
.btn-pink:hover {
  color: #31ad98 !important;
  background: Black !important;
}

/* store items */
.store {
  background: #31ad98;
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2) !important;
  background: white;
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: rgb(49, 173, 152, 0.75);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
  color: inherit;
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-value {
  color: #31ad98;
}

#item-img {
  color: white;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/






