{% extends "base.html" %}
{% block header %}
{% include "nav_section.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="row welcome text-left">
        <div class="col-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %} 
                        <div class='alert alert-success'>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>{{ _('Edit About Section') }}</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {% if form.body.errors %}
                            {{ form.body(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.body.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.body(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                {{form.submit(class="btn btn-primary")}}
            </form>
            <h1>{{ _('Products Section') }}</h1>
            <p><a href="{{ url_for('admin.products') }}"><button type="button" class="btn btn-primary">{{ _('Products') }}</button></a></p>
            <h1>{{ _('Users Section') }}</h1>
            <p><a href="{{ url_for('admin.users') }}"><button type="button" class="btn btn-primary">{{ _('Users') }}</button></a></p>
            <h1>{{ _('Reports Section') }}</h1>
            <p><a href="{{ url_for('admin.reports') }}"><button type="button" class="btn btn-primary">{{ _('Reports') }}</button></a></p>
        </div>
    </div>
</div>
{% endblock %}