{% extends "base.html" %}
{% block header %}
{% include "nav_section.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid padding">
        <div class="row welcome text-left">
            <div class="col-12">
                <h1>{{ _('New Product') }}</h1>
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.item.label(class="form-control-label") }}
                            {% if form.item.errors %}
                                {{ form.item(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.item.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.item(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.qty.label(class="form-control-label") }}
                            {% if form.qty.errors %}
                                {{ form.qty(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.qty.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.qty(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.price.label(class="form-control-label") }}
                            {% if form.price.errors %}
                                {{ form.price(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.price.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.price(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.cat.label(class="form-control-label") }}
                            {% if form.cat.errors %}
                                {{ form.cat(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.cat.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.cat(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.description.label(class="form-control-label") }}
                            {% if form.description.errors %}
                                {{ form.description(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.description(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.en_description.label(class="form-control-label") }}
                            {% if form.en_description.errors %}
                                {{ form.en_description(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.en_description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.en_description(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.image_file.label(class="form-control-label") }}
                            {% if form.image_file.errors %}
                                {{ form.image_file(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.image_file.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.image_file(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.back_image_file.label(class="form-control-label") }}
                            {% if form.back_image_file.errors %}
                                {{ form.back_image_file(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.back_image_file.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.back_image_file(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <p>{{form.submit(class="btn btn-primary")}}</p>
                    <p><a href="{{ url_for('admin.products') }}"><button type="button" class="btn btn-secondary">{{ _('Back to products') }}</button></a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
