{% extends "base.html" %}
{% block header %}
{% include "cart_section.html" %}
{% include "nav_section.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid padding">
    <div class="row welcome text-left">
        <div class="col-12">
            <h1>Checkout</h1>
                <div class='alert alert-danger'>{{ error_message }}</div>	
            <p><a href="{{ url_for('checkout.checkout')}}"><button type="button" class="btn btn-warning">Update Cart</button></a></p>
            <a href="{{ url_for('shop.index')}}"><button type="button" class="btn btn-primary">Continue Shopping</button></a>
        </div>
        </div>
    </div>


{% include "contact_section.html" %}
{% include "footer_section.html" %}
{% endblock %}

