<div class="container-fluid padding">
    <div class="row welcome text-left">
        <div class="col-12">
            <p>{{ _('Dear') }} {{ name }},</p>
            <p>{{ _('Your order of') }}:</p>
            {% set ns = namespace(total=0) %}
            {% set index = namespace(i=0) %}
            {% set jindex = namespace(j=0) %}
            {% for item in user_order %}
            <div> 
                <p>{{item[3]}} x {{ item[0] }}, {{ _('at') }} ${{'%0.2f'| format(item[1]|float)}} {{ _('each') }}</p>
                {% if item[6] == "Empty Box" or item[6] == "Box" %}
                    {% for q in range(item[3]) %}
                        {% if item[3] > 1 %}
                            {% if item[6] == "Empty Box" %}
                                <p>"{{messages[index.i]['Gift_message']}}" {{ _('will be attached to') }} {{item[0]}} {{q+1}}</p>
                                {% set index.i = index.i + 1 %}
                            {% elif item[6] == "Box" %}
                                <p>"{{messages[index.i]['Gift_message']}}" {{ _('will be attached to') }} {{item[0]}} {{q+1}}</p>
                                {% set index.i = index.i + 1 %}
                            {% endif %}
                        {% else %}
                            <p>"{{messages[index.i]['Gift_message']}}" {{ _('will be attached to') }} {{item[0]}}</p>
                            {% set index.i = index.i + 1 %}
                        {% endif %}
                    {% endfor %}
                    
                {% endif %}
                {% if item[6] == "Item" %}
                    {% for q in range(item[3]) %}
                        <p>1 x {{ item[0] }} {{ _('will be placed in') }} {{choices[jindex.j]}} </p>
                        {% set jindex.j = jindex.j + 1 %}
                    {% endfor %}
                {% endif %}
                {% set ns.total = ns.total + item[3] * item[1] %}
            </div>
            {% endfor %}
            <p>{{ _('Total') }}: ${{'%0.2f'| format(ns.total|float)}}</p>
            <p>{{ _('Will be delivered to') }}:</p>
            <p>{{name}}</p>
            <p>{{current_user.address_1}}</p>
            {% if current_user.address_2 %}
                <p>{{current_user.address_2}}</p>
            {% endif %}
            {% if current_user.address_3 %}
                <p>{{current_user.address_3}}</p>
            {% endif %}
            <p>{{current_user.city}}</p>
            <p>{{current_user.province}}</p>
            <p>{{current_user.post_code}}</p>

            

            {% if instructions %}
                <p>{{ _('With the special instructions') }}:</p>
                <p>{{instructions}}</p>
            {% endif %}
            

            <p>{{ _('Thank you for your order') }}.</p>
            <p>{{ _('Sincerely') }},</p>
            <img src="{{image}}">
        </div>
    </div>
</div>        

