<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class=" row text-center">
			<div class="col-md-3">
				<hr class="light">
				<img src="static/img/logo4.png">
				<hr class="light">
			</div>
			<div class="col-md-3">
				<hr class="light">
				<h5>{{ _('Contacto') }}</h5>
				<hr class="light">
				<p>eymcreativa@gmail.com</p>
			</div>
			<div class="col-md-3">
				<hr class="light">
				<h5>{{ _('Siguenos') }}</h5>
				<hr class="light">
				<div class="col-12 social padding">
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
			</div>
			<div class="col-md-3">
				<hr class="light">
				<h5>{{ _('Dirección') }}</h5>
				<hr class="light">
				<p>{{ _('Panamá, Panamá') }}</p>
			</div>
			<div class="col-12">
				<h5>&copy; E & M</h5>
			</div>
		</div>
	</div>
</footer>
