<!-- Navigation -->


	<div class="container-fluid">
		<a class="navbar-brand" href="{{url_for('shop.index')}}"><img src="static/img/navbar3.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('shop.index')}}">{{ _('Inicio') }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('shop.index')}}#somos">{{ _('Quiénes somos') }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('shop.index')}}#productos">{{ _('Productos') }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('shop.index')}}#contacto">
						<i class="fas fa-phone"></i> {{ _('Contacto') }}
					</a>	
				</li>
				<!-- authenticated links -->
				{% if not current_user.is_authenticated %}
					<li class="nav-item">
						<div class="nav-link" id="sign">{{ _('Sign in') }}:</div>
					</li>
					<li class="nav-item">
						<a class="nav-item" href="{{url_for('auth.login')}}">
						<img src="static/img/google.png" height="30" width="30">
					</a>
					</li>		
				{% else %}
					<li class="nav-item">	
						<a class="nav-link" href="{{url_for('auth.logout')}}">{{ _('Log out') }}</a>
					</li>
					{% if current_user.status != "user" %}
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('admin.admin')}}">{{ _('admin') }}</a>
						</li>
					{% endif %}
				{% endif %}

				<!-- navbar cart -->
				<div id="cart-info" class="nav-info align-items-center cart-info d-flex justify-content-between mx-lg-5" >
					<span class="cart-info__icon mr-lg-3"><i class="fas fa-shopping-cart"></i></span>
					<p class="mb-0 text-capitalize"><span id="item-count"></span>
						<span class="total-products">
							{% if total_products == 1 %}
								{{total_products}} {{ _('item - $') }}
							{% else %}
								{{total_products}} {{ _('items - $') }}
							{% endif %}
						</span>
						<span class="item-total">
							{% set item_total = '%0.2f'| format(total|float) %}
							{{item_total}}
						</span>
					</p>
				</div>
			</ul>
		</div>

		
	</div>
